<div ng-controller="SobaCtrl">

	<br/>	
	<h3 class="centrirano">Sobe</h3>
	
	<div class="row">		
		<div class="col-md-7">
		<h3>Pretraga sobe:</h3>
		<form>
			<div class="form-group">
				<label>Naziv sobe</label>
				<input ng-model="search.naziv" class="form-control">
			</div>
			<div class="form-group">
				<label>Broj Kreveta</label>
				<input ng-model="search.brojKreveta" class="form-control">
			</div>
			<div class="form-group">
				<label>Slobodno</label>
				<input ng-model="search.slobodnoTekst" class="form-control">
			</div>
			
			<button ng-click="doSearch()" class="btn btn-primary">Search</button>
		</form>	
	</div>

	</div>
	<br/>
		<h3 class="centrirano">Sve Sobe</h3>	
		<div class="col-12">
		
		<div style="margin-bottom:10px" class="btn-group float-right">
			<button ng-disabled="pageNum == 0" ng-click="changePage(-1)" class="btn btn-primary">Previous</button>
			<button ng-disabled="pageNum == totalPages - 1" ng-click="changePage(1)" class="btn btn-primary">Next</button>
		</div>		
		
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Naziv</th>
						<th>Broj Kreveta</th>
						<th>Slobodno</th>
						<th>Gost</th>
						<th>Izmeni</th>
					</tr>
				</thead>
				<tbody class="redovi">
					<tr ng-repeat="s in sobe">
						<td>{{s.id}}</td>
						<td>{{s.naziv}}</td>
						<td>{{s.brojKreveta}}</td>
						<td>{{s.slobodnoTekst}}</td>
						<td>{{s.gostNaziv}}</td>
						<td><button class="btn btn-warning" ng-click="goToEdit(s.id)">Edit</button>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
	<br/>
	<br/>
	
	
		
</div>
